# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target/
/target
tmp/
test-result
server.pid
*.eml
*.iml
/dist/
.cache
ideatarget
.target
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
.idea/
target/
logs
*.sc
body.json
body.txt
tables_develop.cql
keyspace_drop_develop.cql
dataBase_develop.cql
DataBase_Migrations.sh
*.out
.hydra/
.bsp/
.jvmopts
.attach*
MyTry1.scala
